a img { border: 0; }

.murmur, .murmur ul {
	font-family: calibri, arial, sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -12px;
	background: #fff;
}

.murmur {
	width: 220px;
	height: 450px;
	border: 1px solid #aaa;
	overflow: auto;
	font-size: 11px;	
}

.murmur .player {
	padding-left: 20px;
	background: url(talking_on.png) left center no-repeat;
}

.murmur .muted {
	padding-left: 20px;
	background: url(muted_self.png) left 3px no-repeat;
}

.murmur .channel {
	padding-left: 20px;
	background: url(channel.png) left 3px no-repeat;
}

.murmur .channel span {
	cursor: pointer;
}

.murmur .channel > span:hover {
	font-weight: bold;
}

.murmur .player,
.murmur .channel {
	padding: 3px 0px 3px 20px;
	border-top: 1px solid #eee;
	white-space: nowrap;
}

.murmur em { color: #aaa; }