.murmur, .murmur ul {
	list-style: none;
	padding: 0;
	padding-left: 0px;
	margin: 0;
}

.murmur { padding: 10px 3px; }

.murmur ul {
	margin-left: -7px;
}

.murmur {
	width: 400px;
	max-height: 450px;
	border: 1px solid #aaa;
	overflow: auto;
	font-size: 12px;	
}

.murmur .player {
	padding-left: 20px;
	background: url(images/user_gray.png) left center no-repeat;
}

.murmur .muted {
	padding-left: 20px;
	background: url(images/user_x.png) left 3px no-repeat;
}

.murmur .deaf {
	padding-left: 20px;
	background: url(images/user_x.png) left 3px no-repeat;
}

.murmur .channel {
	padding-left: 20px;
	background: url(images/channel-tree.png) left 3px no-repeat;	
	border-left: 1px dotted #aaa;
}

.murmur > li.channel {
	background: url(images/server.png) 1px 2px no-repeat;
}


.murmur .channel span {
	cursor: pointer;
	color: #444;
}

.murmur > li#channel0 { border: 0; }

.murmur .temporary > span {
	color: #aaa;
}

.murmur .channel.populated > span { font-weight: bold; color: #444; }

.murmur .channel > span:hover {
	color: #000;
}

.murmur .player,
.murmur .channel {
	padding: 4px 0px 4px 20px;
	margin: 0;
}

.murmur .player { margin-left: 6px; }
.murmur .player span {
	border-bottom: 1px dotted #aaa;
}

.murmur em {
	color: #aaa;
	border-bottom: 1px dotted #aaa;
	cursor: pointer;
}

.murmur ul li.channel:last-child { border: 0; background: url(images/channel-tree-last.png) top left no-repeat; }